<div class="container">
  <h1 class="page-heading">About</h1>
  <h2>Pro Women's Soccer in America</h2>
  <p>If you're reading this you probably already know about the <a href="http://www.nwslsoccer.com">National Women's Soccer League</a>, but on the off chance you don't, please check their site and look into supporting your local team. The women's game is amazing, and every team has international and national talent.</p>
  <h2>Data and Technology</h2>
  <p>The data from this site comes from the <a href="http://www.nwslsoccer.com/Stats/">NWSL Stats page</a>. I converted it to JSON using <a href="http://shancarter.github.io/mr-data-converter/">Mr. Data Converter</a> and encoded other additional information (like a team key per player) into the data sets by hand. If you believe there is an error with the data, please <a href="#">let me know</a>.</p>
  <p>The site was built using Angular JavaScript as a framework. The charts and graphs are built using D3. The web server is Express. The development environment used Gulp and SASS. I made this as a learning project and to express my love for women's soccer. Take a look at the code on Github and please give me any feedback through there, on Twitter, or via email.</p>
  <h2>Images</h2>
  <p>I tried, to the best of my ability, to use images licensed under Creative Commons. If your image is here and you would like it removed or I attributed you incorrectly, please get in touch with me. Likewise, if you have images you'd like me to use, send them to me.</p>
</div>
