<div class="container">
  <h1 class="page-heading">About</h1>
  <h2>Pro Women's Soccer in America</h2>
  <p>If you're reading this you probably already know about the <a href="http://www.nwslsoccer.com">National Women's Soccer League</a>, but on the off chance you don't, please check their site and look into supporting your local team. The league boasts some of the best national and international talent.</p>
  <h2>Data and Technology</h2>
  <p>The data from this site comes from the <a href="http://www.nwslsoccer.com/Stats/">NWSL Stats page</a>, updated as of the end of the 2014 season. I converted it to JSON using <a href="http://shancarter.github.io/mr-data-converter/">Mr. Data Converter</a> and encoded other additional information (like a team key per player) into the data sets by hand. If you believe there is an error with the data, please <a href="http://www.hannaliebl.com/contact">send me a message</a> or a <a href="https://twitter.com/lieblhan">Tweet</a>.</p>
  <p>The site was built using <a href="https://angularjs.org/">Angular JavaScript</a> as a framework. The charts and graphs are built using <a href="http://d3js.org/">D3</a>. The web server is <a href="http://expressjs.com/">Express</a>. The development environment used <a href="http://gulpjs.com/">Gulp</a> and <a href="http://sass-lang.com/">SASS</a>. I made this as a learning project and to express my love for women's soccer. Take a look at the code on <a href="https://github.com/hannaliebl/nwsl-data">Github</a>.</p>
  <h2>Contact</h2>
  <p>If you have feedback or want to report an error with the data, get in contact with me via:</p>
  <ul class="list-unstyled left-aligned">
  	<li><a href="http://www.hannaliebl.com/contact">My homepage</a></li>
  	<li><a href="https://twitter.com/lieblhan">Twitter</a></li>
  </ul>
</div>
