<div class="container">
<!-- <stacked-bargraph></stacked-bargraph> -->
  <h1 class="page-heading">2014 Season</h1>
  <h2>April 12, 2014 - August 30, 2014</h2>
  <p>FC Kansas City were the league champions, out of nine total teams. They defeated Seattle Reign FC in the final 2-1. Portland Thorns FC and Washington Spirit also made it to the postseason.</p>
  <section class="graph-group">
    <h1 class="group-label">Goalscorers</h1>
    <div ng-controller="GraphsCtrl">
      <div class="graph-container">
        <bargraph source="getRidOfZeroes" scalex="NAME" scaley="G" svg-id="goalscorers" labelx="Player" labely="Goals Scored" title="Total Goals" hover-text="Goals:" city-name="all" year="2014" show="show" hover="showDetail(item)" hover-leave="hideDetail(item)" sort="sort()" showteams="true" sort-text="Sort by Goals">
        </bargraph>
      </div>
    </div>
    <div ng-controller="GraphsCtrl">
      <div class="graph-container">
        <bargraph source="getGoalsPerHr" scalex="NAME" scaley="goalsPerHr" svg-id="goalproductivity" labelx="Player" labely="Goals Scored per Hour Played" title="Goal Productivity" hover-text="Goals per Hour:" city-name="all" year="2014" show="show" hover="showDetail(item)" hover-leave="hideDetail(item)" sort="sort()" showteams="true" sort-text="Sort by Goals per Hour">
        </bargraph>
      </div>
    </div>
  </section>
  <section class="graph-group">
    <h1 class="group-label">Fouls/Cards</h1>
    <div ng-controller="GraphsCtrl">
      <div class="graph-container">
        <bargraph source="getFoulsCommitted" scalex="NAME" scaley="FC" svg-id="foulscommitted" labelx="Player" labely="Fouls Committed" title="Fouls Committed" hover-text="Fouls Committed:" city-name="all" year="2014" show="show" hover="showDetail(item)" hover-leave="hideDetail(item)" sort="sort()" showteams="true" sort-text="Sort by Total Fouls Committed">
        </bargraph>
      </div>
    </div>
    <div ng-controller="GraphsCtrl">
      <div class="graph-container">
        <bargraph source="getYellowCards" scalex="NAME" scaley="YC" svg-id="yellowcards" labelx="Player" labely="Fouls Committed" title="Yellow Cards" hover-text="Yellow Cards:" city-name="all" year="2014" show="show" hover="showDetail(item)" hover-leave="hideDetail(item)" sort="sort()" showteams="true" sort-text="Sort by Yellow Cards">
        </bargraph>
      </div>
    </div>
    <div class="graph-container">
      <h2>Red Cards</h2>
      <table dir="ltr" width="auto" border="2" summary="Red Cards earned in 2014 NWSL Season">
        <colgroup width="auto" />
        <colgroup id="colgroup" class="colgroup" align="center" valign="middle" title="title">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Red Cards</th>
            <th scope="col">Team</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Maddy Evans</td>
            <td>1</td>
            <td>Boston</td>
          </tr>
          <tr>
            <td>Lianne Sanderson</td>
            <td>1</td>
            <td>Boston</td>
          </tr>
          <tr>
            <td>Melissa Tancredi</td>
            <td>1</td>
            <td>Chicago</td>
          </tr>
          <tr>
            <td>Osinachi Ohale</td>
            <td>1</td>
            <td>Houston</td>
          </tr>
          <tr>
            <td>Kat Tarr</td>
            <td>1</td>
            <td>Portland</td>
          </tr>
          <tr>
            <td>Katherine Reynolds</td>
            <td>1</td>
            <td>Western New York</td>
          </tr>
          <tr>
            <td>Angela Salem</td>
            <td>1</td>
            <td>Western New York</td>
          </tr>
          <tr>
            <td>Jordon Angeli</td>
            <td>1</td>
            <td>Washington DC</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>