body {
  font-family: 'Arimo', sans-serif;
}

#total-goals-chart rect {
  fill: lightblue;
}

#total-goals-chart text {
  font-size: 0.9rem;
}

#total-goals-chart .axis text {
  font: 12px sans-serif;
}

#total-goals-chart .axis path, #total-goals-chart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}