<h2>{{title}} teamfilter: {{teamFilter}}</h2>
<div class="team-filter">
<form name="myForm">
  <label>
    <input type="radio" ng-model="color" value="red">  
    Red
  </label>
  <label>
    <input type="radio" ng-model="color" ng-value="specialValue"> 
    Green
  </label>
  <input type="radio" ng-model="color" ng-value="specialValue"> Green <br/>
  <input type="radio" ng-model="color" value="blue"> Blue <br/>
  <tt>color = {{color | json}}</tt><br/>
 </form>
  <span>
    <label>
      <input ng-model="teamFilter" ng-init="teamFilter === 'all'" ng-checked="true" value="all" type="radio" name="team-filter" ng-click="team('all')" />
      ALL TEAMS
    </label>
  </span>
  <button ng-click="sort()" ng-if="teamFilter === 'all' || teamFilter === undefined">{{sortText}}</button>
  <p>teamfilter: {{teamFilter}}</p>
</div>
<div class="team-filter">
  <span ng-repeat="city in $parent.cities">
    <label>
      <input type="radio" ng-model="$parent.teamFilter" value="{{city}}" name="team-filter" ng-click="team(city)" />
      {{city | uppercase}}
    </label>
  </span>
</div>
<div id="{{svgId}}" style="background: url('img/{{cityName.img}}') 50% 50% no-repeat;background-size:cover;">
  <div class="hover-label" ng-class="{ 'active' : show }">
    <h1>{{$parent.details.NAME}}</h1>
    <span>Goals: {{$parent.details.G}}</span>
  </div>
</div>
<a href="{{cityName.credit}}"><span>Photo Credit</span></a>