<h2>{{title}}</h2>
<div class="team-filter">
  <span>
    <input id="all" ng-model="teamFilter" ng-init="teamFilter === 'all'" ng-checked="true" value="all" type="radio" name="team-filter" ng-click="team('all')" />
    <label for="all">ALL TEAMS
    </label>
  </span>
  <button ng-click="sort()" ng-if="teamFilter === 'all' || teamFilter === undefined">{{sortText}}</button>
</div>
<div class="team-filter">
  <span ng-repeat="city in cities">
    <input type="radio" ng-model="$parent.teamFilter" value={{city}} name="team-filter" ng-click="team(city)" id="{{city}}"/>
    <label for="{{city}}">{{city | uppercase}}
    </label>
  </span>
</div>
<div id="goalscorers" style="background: url('img/{{cityName.img}}') 50% 50% no-repeat;background-size:cover;">
  <div class="hover-label" ng-class="{ 'active' : show }">
    <h1>{{$parent.details.NAME}}</h1>
    <span>Goals: {{$parent.details.G}}</span>
  </div>
</div>
<a href="{{cityName.credit}}"><span>Photo Credit</span></a>